.map-container {
    height: 100vh;
    width: 80vw;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
  }

  .mapboxgl-ctrl-attrib {
    display: none !important;
}
