.about {
    display: flex;
    padding: 20px;
}

/* .singlePost {
    flex: 9;
} */


.title {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 20px;
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    color: #b39656;
}

.description {
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDescription::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}